div.full-image {
	height: 48em;
	div {
		position: relative;
	    top: 50%;
	    display: block;
	    text-align: center;
  		h1, h2 {
  		}
	}
}

.container-fluid.camden {
	background-color: $camden-blue;
	// background: url(../../img/landscapes/salina.jpg) no-repeat center;
	// background-size: cover;
}

.full-image.basic {
	background-color: grey;
}

.container.text {
	padding: 5em 0;
}
// .img-container {
// 	img {
// 		width: 60%;
// 		margin: 0 20%;
// 	}
// }

.container.img {
	padding: 5em 0;
}

.container.logo {
	padding: 6em 0;
	h1 {
		margin-bottom: 2em;
	}
	.logo {
		height: 6em;
	}
	img {
		padding: 0 1em;
	}
}

.container.team {
	padding: 6em 0;
	.member {
		text-align: center;
		div {
			display: inline-block;
		}
	}
	img {
		width: 7em;
 		height: 7em;
 		border-radius: 50%;
	}
	p {
		margin: 0;
		padding: 0;
	}
}

.testimonial {
	padding: 5em 0;
}