html, body {
	font-family: $primary-font;
}

h1 {
	@include title (2.3em);
	text-transform: uppercase;
}

h2 {
	@include title (1.5em);
}

p {
	font-size: 1.1em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	padding: 0.5em 0;
}

ul {
	li {
		font-size: 1em;
		letter-spacing: 0.05em;
		line-height: 1.5em;
	}
}

img {
  width: 100%;
}