div(id="contact" class="contact")
    div(class="container")
        div(class="col-xs-12")
           p Next
        div(class="col-xs-4")
            div(id="call" class="bigicon icon-phone")
            p +44 20 3583 2442
        div(class="col-xs-4")
            a(href="https://www.google.co.uk/maps/place/14+Palmers+Rd,+London+E2+0SY" target="_blank" id="visit" class="bigicon icon-location")
            p 14 Palmers Road, London E2 0SY
        div(class="col-xs-4")
            a(href="mailto:contact@foundersandcoders.org?Subject=Hello%20Founders%20and%20Coders" id="email" class="icon-mail-alt bigicon")
            p contact@foundersandcoders.org
    div(class="container")
        p FOUNDERS & CODERS C.I.C. Company No. 09408874

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")