nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fac-navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            div(class="logo-wrapper")
                p(id="logo")
                    a(href="http://foundersandcoders.org") FOUNDERS & CODERS

        div(class="collapse navbar-collapse" id="fac-navbar")
            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="#contact") Contact
                li
                    a(href="/") Case Studies