div(class="camden full-image container-fluid")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h1 #{ title }
			h2 #{ tagline }
div(class="container text")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h4 
				a(href="maps.camden.gov.uk") Camdenmaps
				| is a single page user-friendly responsive web application. It displays the location of council run services and live streetworks occurring within the Camden borough as well as local information specific to a Camden postcode.
div(class="container img")
	div(class="row")
		div(class="col-xs-12 col-sm-6 col-sm-offset-3")
			img(class="" src="../img/camdenmaps/monitor-primary.png" alt="new site on a monitor")
div(class="container text")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h1 Problem
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="container img")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			img(class="" src="../img/camdenmaps/latter.png" alt="example of old site")
div(class="container text")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h1 Solution
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="container img")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			img(class="" src="../img/camdenmaps/mobile.png" alt="mobile version of the site")
div(class="container-fluid camden testimonial")
	div(class="row")
		div(class="col-xs-12 col-sm-6 col-sm-offset-3")
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum.
			p - Francois Mounier
div(class="container text")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h1 Solution
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="container img")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			img(class="" src="../img/camdenmaps/mobile.png" alt="desktop version of the site")
div(class="container logo")
	div(class="row")
		div(class="col-xs-12")
			h1 Tools Used
		div(class="col-xs-12 col-sm-10 col-sm-offset-1")
			div(class="col-xs-4 col-sm-3 logo")
				img(src="../img/logos/saucelabs.png" alt="Sauce Labs")
			div(class="col-xs-4 col-sm-3 logo")
				img(src="../img/logos/node.png" alt="Node.JS")
			div(class="col-xs-4 col-sm-3 logo")
				img(src="../img/logos/swagger.png" alt="Swagger UI")
			div(class="col-xs-4 col-sm-3 logo")
				img(src="../img/logos/leaflet.png" alt="Leaflet")

			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/travis.jpg" alt="Travis CI")
			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/gulp.png" alt="Gulp.JS")
			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/browserify.png" alt="Browserify")

			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/bootstrap.jpg" alt="Twitter Bootstrap")
			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/hapi.png" alt="Hapi.JS")
			div(class="col-xs-4 col-sm-4 logo")
				img(src="../img/logos/angular.png" alt="AngularJS")
div(class="container text")
	div(class="row")
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			h1 Result
div(class="container img")
	div(class="row")
		div(class="col-xs-12 col-sm-10 col-sm-offset-1")
			img(class="" src="../img/camdenmaps/new-site-full.png" alt="mixed about the site")
div(class="container team")
	div(class="row")
		div(class="col-xs-12")
			h1 Team
		div(class="col-xs-12 col-sm-8 col-sm-offset-2")
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/wil.jpg" alt="")
				p William Fisher
				p Lead Developer
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/natalia.jpg" alt="")
				p Natalia Baltazar
				p Full Stack Developer
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/emma.jpg" alt="")
				p Emma Milner
				p Full Stack Developer
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/naomi.jpg" alt="")
				p Naomi Gaynor
				p Full Stack Developer
			div(class="member col-xs-4 col-sm-3 col-sm-offset-1")
				img(src="../img/members/subhan.jpg" alt="")
				p Subhan Shaffi
				p Front End Developer
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/harry.jpg" alt="")
				p Harry Fox
				p UX Specialist
			div(class="member col-xs-4 col-sm-3")
				img(src="../img/members/hugh.jpg" alt="")
				p Hugh Trueger
				p Project Manager
