div(class="full-image camden")
	div
		h1 #{ title }
		h2 #{ tagline }
div(class="text-container")
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="img-container")
	img(class="" src="../img/camdenmaps/monitor-primary.png" alt="example of old site")
div(class="text-container")
	h1 Problem
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="img-container")
	img(class="" src="../img/camdenmaps/latter.png" alt="example of old site")
div(class="text-container")
	h1 Problem
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae rhoncus nunc, non egestas justo. Sed odio mi, bibendum quis semper a, rhoncus pharetra dolor. Suspendisse rhoncus nulla a metus accumsan, convallis commodo lacus molestie. Sed convallis lobortis urna in interdum. Fusce laoreet nibh venenatis massa vestibulum, a pharetra ipsum.
div(class="img-container")
	img(class="" src="../img/camdenmaps/mobile.png" alt="example of old site")
div(class="text-container")
	h1 Tools Used
	div(class="logo-container")
		img(class="" src="../img/logos/swagger.png" alt="example of old site")
		img(class="" src="../img/logos/bootstrap.jpg" alt="example of old site")
		img(class="" src="../img/logos/angular.png" alt="example of old site")
		img(class="" src="../img/logos/saucelabs.png" alt="example of old site")
		img(class="" src="../img/logos/node.png" alt="example of old site")
		img(class="" src="../img/logos/hapi.png" alt="example of old site")
		img(class="" src="../img/logos/leaflet.png" alt="example of old site")
		img(class="" src="../img/logos/travis.jpg" alt="example of old site")
		img(class="" src="../img/logos/browserify.png" alt="example of old site")
		img(class="" src="../img/logos/gulp.png" alt="example of old site")

div(class="img-container")
	img(class="" src="../img/camdenmaps/mobile.png" alt="example of old site")