@font-face {
    font-family: "Lux";
    src: url(#{ baseUrl } + "/fonts/Lux.otf");
}
@font-face {
    font-family: "font1";
    src: url(#{ baseUrl } + "/fonts/font1.otf");
}

$primary-font:'Lux', sans-serif;
$logo-font:'font1', sans-serif;

@mixin title ($size) {
	font-family: $primary-font;
	font-size: $size;
	letter-spacing: 0.05em;
	font-weight: 200;
	padding: 0.4em 0;
	line-height: 1.2em;
	text-align: center;
}

@mixin logo ($size) {
	font-family: $logo-font;
	font-size: $size;
	font-weight: 100;
	a {
		color: $primary-blue;
		text-decoration: none;
	}
}